*{
    margin: 0;
    border: 0;
    padding: 2px 0;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
#contenedor{
    padding: 10px;
    margin: auto;
    width: 80%;
}
.margenInf{
    margin: 10px;
}
#contenido{
    padding: 10px 0;
    display: flex;
}
header{
    background-color: rgb(185, 74, 71);
}
nav{
    background-color: rgb(250, 154, 73);
}
aside{
    background-color: rgb(76, 174, 200);
    width: 38%;
    margin-right: 10px;
}
section{
    background-color: rgb(159, 191, 93);
    width: 60%;
    float: right;
}
article{
    background-color: rgb(117, 145, 58);
    width: 70%;
    margin: auto;
    margin-bottom: 8px;
}
#primerArticulo{
    margin-top: 10px;
}
footer{
    background-color: rgb(75, 125, 183);
}
h1{
    font-family: sans-serif;
    font-size: 1em;
    font-weight: lighter;
    margin: 8px;
}
@media only screen and (max-width:600px){
    #contenido{
        display: block;
    }
    aside,section{
        width: 100%;
        margin-bottom: 8px;
    }
    #contenido{
        margin-bottom: 8px;
    }
    h1{
        font-size: 0.83em;
    }
}